body{
  background-image : url("../img/background.jpg");
  background-size : 100%;
  background-repeat: no-repeat;
}

.container{
  width : 900px;
  height : 600px;
  background-color : transparent;
}

.room-container{
  background-color : rgb(230, 230, 156);
  border-bottom : 200px solid rgb(117, 71, 25);
	border-left   : 100px solid rgb(255, 255, 173);
	border-right  : 100px solid rgb(255, 255, 173);
  margin-left   : auto;
  margin-right  : auto;
  
  height : 300px;
  width  : 600px;
}

.dragged{
  background-color : green;
  width : 100px;
  height : 100px;
}

header{
  top : 0px;
  width : 900px;
  background-color : #CCCCCC;
  border-radius : 10px;
  margin-bottom : 0px;
}

header h1{
  font-size : 250%;
}

header h1 span{
  font-size : 150%;  
  font-family : "Courier New";
}

.D{
  color : white;
}

.Y{
  color : green;
}

.D-2{
  color : blue;
}