/*.wall{
  position : absolute;
  bottom : 50px;
  height : 75%;
  width : 200px;
  border-bottom : 50px;
  border-top : 50px;
  background-color : red;
}*/

.room-container{
	border-left: 100px solid rgb(255, 255, 173);
	border-bottom: 200px solid rgb(117, 71, 25);
	border-right : 100px solid rgb(255, 255, 173);
  background-color : rgb(230, 230, 156);
	height : 300px;
	bottom : 250px;
  width : 600px;
}

.wall.right{
  border-left : 100px;
  border-right : 0px;
  right : 100px;
}

.container{
  width : 1080px;
  height : 720px;
  background-color : grey;
}

.dragged{
  background-color : green;
  width : 100px;
  height : 100px;
  max-right : 760px;
}